In [104]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [105]:
import pandas as pd
import numpy as np

In [106]:
dataset = pd.read_csv("/content/drive/MyDrive/ML & DL COURSE/Train.csv")

In [107]:
dataset.head(10)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]

In [108]:
dataset.tail(10)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
8513           FDH31       12.000  ...  Supermarket Type1           595.2252
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8515           FDH24       20.700  ...  Supermarket Type2          1571.2880
8516           NCJ19       18.600  ...  Supermarket Type2           858.8820
8517           FDF53       20.750  ...  Supermarket Type1          3608.6360
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[10 rows x 12 columns]

In [109]:
dataset.isnull().any()

Item_Identifier              False
Item_Weight                   True
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                   True
Outlet_Location_Type         False
Outlet_Type                  False
Item_Outlet_Sales            False
dtype: bool

In [110]:
print(dataset["Item_Weight"].mean())
print(dataset["Outlet_Size"].mode())

12.857645184136183
0    Medium
dtype: object

In [111]:
dataset["Item_Weight"].fillna(dataset["Item_Weight"].mean(),inplace = True)
dataset["Outlet_Size"].fillna(dataset["Outlet_Size"].mode()[0],inplace = True)

In [112]:
dataset.isnull().any()

Item_Identifier              False
Item_Weight                  False
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                  False
Outlet_Location_Type         False
Outlet_Type                  False
Item_Outlet_Sales            False
dtype: bool

In [113]:
dataset["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [114]:
dataset["Item_Fat_Content"].replace(to_replace = "LF", value = "Low Fat", inplace = True )

In [115]:
dataset["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular', 'low fat', 'reg'], dtype=object)

In [116]:
dataset["Item_Fat_Content"].replace(to_replace = "low fat", value = "Low Fat", inplace = True )

In [117]:
dataset["Item_Fat_Content"].replace(to_replace = "reg", value = "Regular", inplace = True )

In [118]:
dataset["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [119]:
dataset.head(10)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15     9.300000  ...  Supermarket Type1          3735.1380
1           DRC01     5.920000  ...  Supermarket Type2           443.4228
2           FDN15    17.500000  ...  Supermarket Type1          2097.2700
3           FDX07    19.200000  ...      Grocery Store           732.3800
4           NCD19     8.930000  ...  Supermarket Type1           994.7052
5           FDP36    10.395000  ...  Supermarket Type2           556.6088
6           FDO10    13.650000  ...  Supermarket Type1           343.5528
7           FDP10    12.857645  ...  Supermarket Type3          4022.7636
8           FDH17    16.200000  ...  Supermarket Type1          1076.5986
9           FDU28    19.200000  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]

In [120]:
dataset.drop(dataset.columns[[0,6,7]], axis = 1, inplace = True)

In [121]:
dataset

      Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0           9.300          Low Fat  ...  Supermarket Type1         3735.1380
1           5.920          Regular  ...  Supermarket Type2          443.4228
2          17.500          Low Fat  ...  Supermarket Type1         2097.2700
3          19.200          Regular  ...      Grocery Store          732.3800
4           8.930          Low Fat  ...  Supermarket Type1          994.7052
...           ...              ...  ...                ...               ...
8518        6.865          Low Fat  ...  Supermarket Type1         2778.3834
8519        8.380          Regular  ...  Supermarket Type1          549.2850
8520       10.600          Low Fat  ...  Supermarket Type1         1193.1136
8521        7.210          Regular  ...  Supermarket Type2         1845.5976
8522       14.800          Low Fat  ...  Supermarket Type1          765.6700

[8523 rows x 9 columns]

In [122]:
dataset["Item_Type"].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [123]:
dataset["Outlet_Size"].unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [124]:
dataset["Outlet_Type"].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [125]:
x = dataset.iloc[:,0:8].values
y = dataset.iloc[:,8:9].values

In [126]:
x.shape

(8523, 8)

In [127]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [128]:
ct = ColumnTransformer([("one",OneHotEncoder(),[1,3,5,6,7])],remainder = "passthrough")
x = ct.fit_transform(x)

In [129]:
x[0:5]

<5x31 sparse matrix of type '<class 'numpy.float64'>'
	with 38 stored elements in Compressed Sparse Row format>

In [130]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 0)

In [131]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [132]:
y_pred = mlr.predict(x_test)

In [133]:
y_pred

array([[ 2578.59831287],
       [ 2538.62373979],
       [ 2144.43657067],
       ...,
       [ 4267.9838019 ],
       [-1055.96711173],
       [ 5416.00042889]])

In [134]:
y_test

array([[1426.1436],
       [1201.769 ],
       [1836.2764],
       ...,
       [2885.5772],
       [ 218.3824],
       [5478.2024]])

In [135]:
from sklearn.metrics import r2_score
accuracy = r2_score(y_pred,y_test)

In [136]:
accuracy

0.2076535458495069